#navBar{
    display: flex;
    background-color: #1A2238;
    color: white;
}
.nav-link{
    color:white;
}
.wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap:2em;
    grid-auto-rows: minmax(60px,auto);

}
.wrapper>div{
    padding-top:1em;
    padding-left: 1em;
}
.box1{
    background-color: #1A2238;
    color: white;
}
#box1title{
    font-size: 35px;
    color: #FF6A3D;
}
#box1text{
    font-size: 30px;
}
.box2{
    background-color: white;
}

.box2{
    display: grid;

}
.page2{
    margin-top: 40px;
    text-align: center;
}
.container{
    margin-left: 0;
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.container>div{
    background: #eee;
}
.container>div:nth-child(odd){
    background: #ddd;
}

#mypicture{
    width: 400px;
    height: 400px;
}
ul{
    font-size: 30px;
    color: #FF6A3D;
}
li{
    font-size: 20px;
}
img{
    width: 600px;
    height: 400px;
}
.details{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 10px;
    padding-bottom: 10px;
}
.projectName{
    background-color: #1A2238;
    color: white;
}
.projectIntro{
    padding-left: 10px;
}
h2{
    font-size: 35px;
    color: #FF6A3D;
}
p{
    font-size: 30px;
}
li{
    font-size: 28px;
}
.contact{
    text-align: center;
    margin-top: 50px;
    background-color:#1A2238;
    color: white;
}
.icon{
    text-align: center;
    color: white;
    font-size: 50px;
}
.icon:hover{
    color: #FF6A3D;

}